@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
.title1 textarea {
  border: 1px solid #bbb;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
 .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

li.dropdown.edit {
  position: absolute;
  right: 0;
  list-style: none;
  .dropdown-menu {
    margin-left: -160px;
    margin-top: 5px;
  }
}
.edit-comment {
  height: 0;
    left: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    .glyphicon.glyphicon-pencil {
      color: rgba(0, 0, 0, 0.55);
      right: 30px;
      top: 0px;
      position: absolute;
      font-size: 11px;
    }
}

.comments {
  .row {
    padding-bottom: 10px;
    .row {
      float: left;
      width: 90%;
      padding-left: 15px;
      strong {
        color: #3b5998;
      }
    }
  }
}